:root {
    --colorPrimary: #7037BF;
    --colorSecondary: #FF83C6;
    --colorBackground: #0057AC;
    --colorText: #E8CCC3;
    --colorAffirmative: #11819C;
    --colorNegative: #D92563;
    --colorCaution: #FEDF00;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
